.wrapper {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo-box {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.logo {
  width: 80px;
  height: auto;
}

.navigation {
  display: flex;
  gap: 30px;
  font-size: 18px;
  font-weight: bold;
  text-transform: uppercase;
}
.background {
  background-color: rgb(236, 85, 85);
  height: 450px;
  width: 85%;
  align-items: center;
  margin: auto;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: center;
}
.logo-two {
  width: 160px;
  height: 160px;
  display: flex;
  margin-top: 1rem;
}
.name {
  color: white;
}
.about {
  color: white;
}
button {
  background-color: white;
  color: black;
  cursor: pointer;
  padding: 0.5rem 1.2rem;
  margin-top: 1rem;
  border: 1px solid white;
}
